@mixin n-common-variables {
  --n-color-primary-00: #ffffff;
  --n-color-primary-01: #f2f2f2;
  --n-color-primary-02: #d9d9d9;
  --n-color-primary-03: #bfbfbf;
  --n-color-primary-04: #a6a6a6;
  --n-color-primary-05: #8c8c8c;
  --n-color-primary-06: #737373;
  --n-color-primary-07: #595959;
  --n-color-primary-08: #404040;
  --n-color-primary-09: #262626;
  --n-color-primary-10: #000000;

  --n-navbar-height: 50px;
}
