@mixin n-dark-variables {
  --n-editor-color-bg: var(--n-color-primary-09);
  --n-editor-color-caret: var(--n-color-primary-00);

  --bs-body-bg: var(--n-color-primary-10);
  --bs-body-color: var(--n-color-primary-02);
  --bs-hr-border-color: var(--n-color-primary-08);
  --bs-text-muted: var(--n-color-primary-05);
}
