@mixin n-light-variables {
  --n-editor-color-bg: var(--n-color-primary-01);
  --n-editor-color-caret: var(--n-color-primary-10);

  --body-bg: var(--n-color-primary-00);
  --body-color: var(--n-color-primary-10);
}
