@mixin n-light-variables {
  --n-editor-color-bg: var(--n-color-primary-01);
  --n-editor-color-caret: var(--n-color-primary-10);

  --bs-body-bg: var(--n-color-primary-00);
  --bs-body-color: var(--n-color-primary-10);
  --bs-hr-border-color: var(--n-color-primary-04);
  --bs-text-muted: var(--n-color-primary-04);
}
