@mixin n-light-variables {
  --n-editor-color-bg: var(--n-color-primary-01);
  --n-editor-color-caret: var(--n-color-primary-10);
  --n-note-card-color-bg: var(--n-color-primary-01);
  --n-note-card-color-body: var(--n-color-primary-09);

  --bs-body-bg: var(--n-color-primary-00);
  --bs-body-color: var(--n-color-primary-10);
  --bs-hr-border-color: var(--n-color-primary-04);
  --bs-link-color: #3ca4ff;
  --bs-list-group-item-active-body-color: var(--n-color-primary-09);
  --bs-list-group-item-active-border-color: var(--n-color-primary-03);
  --bs-list-group-item-bg: var(--n-color-primary-01);
  --bs-list-group-item-body-color: var(--n-color-primary-04);
  --bs-text-muted: var(--n-color-primary-04);
}
