<% title = t("meta.title.welcome.show") %>
<% set_meta_tags(title:, reverse: false) %>

<%= render ::Layouts::LandingLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <p>Welcome to Wikino!</p>
    <p>現在は開発者 (<a class="underline" href="https://shimba.co/" target="_blank">@shimbaco</a>) しか使えませんが、将来的には誰でも使えるようになる予定です。</p>
  <% end %>
<% end %>
