<% title = t("meta.title.welcome.show") %>
<% set_meta_tags(title:, reverse: false) %>

<%= render ::Layouts::LandingLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <p>Wikinoにようこそ！</p>
    <p>現在は開発者 (<a class="link link-primary" href="https://wikino.app/s/shimbaco" target="_blank">@shimbaco</a>) しか使えません。</p>
    <p>誰でも使えるようにするため目下開発中です。</p>
  <% end %>
<% end %>
