<label class="form-control">
  <div class="label">
    <span class="label-text">
      <%= t("forms.attributes.topic_form/creation.description") %>
    </span>
  </div>

  <%= form_builder.text_field(:description, class: "bg-base-300 input input-bordered w-full") %>
</label>
