<label class="form-control">
  <div class="label">
    <span class="label-text">
      <%= t("forms.attributes.new_topic_form.name") %>
    </span>
  </div>

  <%= form_builder.text_field(:name, {
    autofocus: true,
    class: "bg-base-300 input input-bordered w-full",
    required: true
  }) %>
</label>
