<div class="grid grid-cols-2 join w-80">
  <% if pagination.has_previous? %>
    <%= link_to t("messages.pagination.prev_html"), previous_path, class: "border-gray-400 btn btn-outline btn-sm join-item rounded-l-full" %>
  <% else %>
    <a class="border-gray-300! btn btn-outline btn-sm bg-transparent! join-item rounded-l-full" disabled="disabled">
      <%= t("messages.pagination.prev_html") %>
    </a>
  <% end %>

  <% if pagination.has_next? %>
    <%= link_to t("messages.pagination.next_html"), next_path, class: "border-gray-400 btn btn-outline btn-sm join-item rounded-r-full" %>
  <% else %>
    <a class="border-gray-300! btn btn-outline btn-sm bg-transparent! join-item rounded-r-full" disabled="disabled">
      <%= t("messages.pagination.next_html") %>
    </a>
  <% end %>
</div>
