<% set_meta_tags(canonical: root_url) %>

<h1>
  Hello, <%= current_user.id %>!
</h1>

<div class="gx-1 row">
  <% @notes.each do |note| %>
    <div class="col-3">
      <%= link_to note_path(note_id: note.id) do %>
        <%= note.title %>
      <% end %>
    </div>
  <% end %>
</div>
