<% if resource.errors.any? %>
  <div class="c-error-panel alert alert-danger">
    <h4 class="alert-heading">
      <%= t "nouns.error" %>
    </h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
