<turbo-frame id="joined-topics">
  <div class="flex flex-col gap-2">
    <% @topics.each do |topic| %>
      <%= link_to topic_path(topic.space.database_id, topic.number), {
        class: "flex items-center gap-0.5",
        title: topic.name
      } do %>
        <%= render Icons::TopicComponent.new(topic:, size: "14px") %>

        <span class="line-clamp-1 text-sm">
          <%= topic.space.name %>/<%= topic.name %>
        </span>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
