<% content_for :page_title, page_title_with_suffix(t("page_titles.edit_note", note_title: @note_entity.title)) %>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="c-editor-container d-flex flex-column">
        <div class="c-editor-container__header py-3">
          <div
            class="c-note-time text-right"
            data-controller="note-time"
            data-note-time-init-time="<%= @note_entity.updated_at %>"
          ></div>
        </div>

        <div class="c-editor-container__content pb-3">
          <div
            class="h-100 w-100"
            data-controller="editor"
            data-editor-note-database-id="<%= @note_entity.database_id %>"
            data-editor-note-body="<%= @note_entity.body %>"
          >
          </div>
          <div class="c-editor-hints d-none" data-controller="editor-hints"></div>
        </div>
      </div>
    </div>

    <div class="col">
    </div>
  </div>
</div>
