<% content_for :page_title, "Nonoto" %>

<h1>Hi, <%= current_user.email %>!</h1>

<%= link_to t("nouns.sign_out"), sign_out_path, method: :delete %>

<ul>
  <% @note_entities.each do |note_entity| %>
    <li>
      <%= link_to note_detail_path(teamname: note_entity.team.teamname, note_number: note_entity.number) do %>
        <%= note_entity.title %>
      <% end %>
    </li>
  <% end %>
</ul>
