<% content_for :page_title, "Nonoto" %>

<div class="container py-4">
  <div class="mb-2 row row-cols-2 row-cols-md-6">
    <% @note_entities.each do |note_entity| %>
      <div class="col mb-2 px-1">
        <%= render NoteCardComponent.new(note_entity: note_entity) %>
      </div>
    <% end %>
  </div>

  <%= render PaginationComponent.new(page_info_entity: @page_info_entity, resources_path: current_path_with_query) %>
</div>
