<turbo-stream action="update" target="page-links-link-list">
  <template>
    <% @link_list.links.each do |link| %>
      <ul class="gap-2 grid grid-cols-4">
        <li>
          <%= render Cards::PageCardComponent.new(page: link.page, class_name: "bg-base-300") %>
        </li>

        <% link.backlinked_pages.each do |page| %>
          <li>
            <%= render Cards::PageCardComponent.new(page:, class_name: "bg-base-300") %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </template>
</turbo-stream>
