.DS_Store

/.bundle
/.devcontainer
/.env.*.local
/.env.local
/.idea
/app/assets/builds/*
/config/master.key
/docker-compose.override.yml
/log/*
/node_modules
/wikino.iml
/private
/tmp/*
/vendor/bundle
!/app/assets/builds/.keep
