.DS_Store

/.bundle
/.claude/settings.local.json
/.devcontainer
/.env.*.local
/.env.local
/.idea
/.serena/cache
/.vscode
/app/assets/builds/*
/bin/sync
/config/master.key
/docker-compose.override.yml
/lib/tasks/dev.rake
/log/*
/node_modules
/wikino.iml
/private
/tmp/*
/vendor/bundle
!/app/assets/builds/.keep
