$n-navbar-height: 50px;

@mixin common-variables {
  --n-navbar-height: 50px;
}

@mixin light-variables {
  --body-bg: #ffffff;
  --body-color: #000000;
}

@mixin dark-variables {
  --body-bg: #000000;
  --body-color: #ffffff;
}
