<div class="grid grid-cols-2 items-stretch gap-2 md:grid-cols-3">
  <% topics.each do |topic| %>
    <% if is_guest %>
      <%= render CardLinks::TopicComponent.new(topic:) %>
    <% else %>
      <%= render CardLinks::TopicWithActionComponent.new(topic:) %>
    <% end %>
  <% end %>
</div>
