<div class="container">
  <div class="row row-cols-2">
    <% link_entities.each do |link_entity| %>
      <div class="col mb-2 px-1">
        <%= render NoteCardComponent.new(note_entity: link_entity.note) %>
      </div>
    <% end %>
  </div>
</div>
