<div class="z-50 fixed bottom-2 left-1/2 flex translate-x-[-50%] flex-col gap-4">
  <%= render Toasts::FlashComponent.new(flash:) %>
  <%= render Navbars::BottomComponent.new(current_page_name:) %>
</div>
