<div class="z-50 fixed bottom-2 left-1/2 flex w-full translate-x-[-50%] flex-col items-center gap-4 px-2">
  <%= render Toasts::FlashComponent.new(flash:) %>
  <%= render Navbars::BottomComponent.new(current_page_name:, current_user:) %>
</div>
