<% link_entities.each do |link_entity| %>
  <ul>
    <li>
      <%= link_to edit_note_path(note_id: link_entity.note.database_id) do %>
        <%= link_entity.note.title %>
      <% end %>
    </li>

    <% backlink_entities = link_entity.note.backlinks.select { |be| note_entity.database_id != be.note.database_id } %>
    <% if backlink_entities.present? %>
      <ul>
        <% backlink_entities.each do |backlink_entity| %>
          <li>
            <%= link_to edit_note_path(note_id: backlink_entity.note.database_id) do %>
              <%= backlink_entity.note.title %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>
