<%= link_to note_path(note_entity.database_id), class: "c-note-card card text-decoration-none" do %>
  <% if note_entity.cover_image_url.present? %>
    <div class="c-note-card__background-image" style="background-image: url(<%= note_entity.cover_image_url %>);"></div>
  <% end %>

  <div class="card-body p-2">
    <div class="c-note-card__title font-weight-bold text-break <%= card_title_color %>">
      <%= note_entity.title %>
    </div>
  </div>
<% end %>
