<% if page_location.key.raw.include?("/") %>
  <span class="gap-[1px] inline-flex">
    <%= link_to page_location.topic.name, topic_path, class: "link link-primary" %>
    <span>/</span>
    <%= link_to page_location.page.title, page_path, class: "link link-primary" %>
  </span>
<% else %>
  <%= link_to page_location.page.title, page_path, class: "link link-primary" %>
<% end %>
