<div class="flex flex-col gap-2">
  <% link_list.links.each do |link| %>
    <ul class="gap-2 grid grid-cols-4">
      <li>
        <%= render Cards::PageCardComponent.new(page: link.page, class_name: "bg-base-300") %>
      </li>

      <%= render PageBacklinkListComponent.new(backlink_list: link.backlink_list) %>
    </ul>
  <% end %>

  <% if link_list.pagination.has_next %>
    <turbo-frame class="gap-2 grid grid-cols-4" id="page-link-list">
      <%= render Buttons::PagePaginationButtonComponent.new(page: link_list.page, pagination: link_list.pagination) %>
    </turbo-frame>
  <% end %>
</div>
