<% backlink_list.backlinks.each do |backlink| %>
  <li>
    <%= render Cards::PageCardComponent.new(page: backlink.page, class_name: "bg-base-300") %>
  </li>
<% end %>

<li>
  <% if backlink_list.pagination.has_next %>
    <turbo-frame class="" id="page-backlink-list">
      <%= render Buttons::PagePaginationButtonComponent.new(page: backlink_list.page, pagination: backlink_list.pagination) %>
    </turbo-frame>
  <% end %>
</li>
