<% if page_location.key.raw.include?("/") %>
  <div class="flex">
    <%= link_to page_location.topic.name, topic_path %>
    <span>/</span>
    <%= link_to page_location.page.title, page_path %>
  </div>
<% else %>
  <%= link_to page_location.page.title, page_path %>
<% end %>
