<%= button_to frame_page_link_list_path(page.space.identifier, page.number, after: pagination.next_cursor), {
  class: "border border-base-content card font-bold hover:ring-1 hover:ring-primary items-center justify-center min-h-[96px] px-4 py-2 transition w-full"
} do %>
  <div class="flex gap-1 items-center justify-center">
    <%= render Wikino::UI::Icon.new(name: "caret-down") %>

    <%= t("verbs.more") %>
  </div>
<% end %>
