<%= button_to path, {
  class: "bg-gray-200 card duration-200 ease-in-out grid hover:ring-1 hover:ring-primary items-center justify-center min-h-[96px] px-4 py-2 transition w-full"
} do %>
  <div class="flex items-center justify-center gap-1">
    <%= render BaseUI::IconComponent.new(name: "caret-down") %>

    <span class="text-sm font-bold">
      <%= t("verbs.more") %>
    </span>
  </div>
<% end %>
