<% set_meta_tags(title: @note.title, reverse: false) %>

<%= render ::Layouts::BasicLayoutComponent.new do %>
  <%= render Containers::BasicContainerComponent.new do %>
    <h1>
      <%= @note.title %>
    </h1>

    <%= @note.body_html.html_safe %>
  <% end %>
<% end %>
