<footer
  class="mt-auto px-4 pt-[3rem] pb-[calc(var(--bottom-nav-max-height)+3rem)] md:pb-[3rem] text-center
    flex items-center justify-center flex-wrap gap-4"
>
  <ul class="flex items-center justify-center gap-4 basis-full md:basis-auto">
    <li>
      <%= link_to t("nouns.terms_of_service"), "/terms", class: "link-muted text-sm" %>
    </li>
    <li>
      <%= link_to t("nouns.privacy_policy"), "/privacy", class: "link-muted text-sm" %>
    </li>
  </ul>

  <div class="order-last md:order-first">
    <div class="flex gap-1.5">
      <div class="text-sm text-muted-foreground">
        &copy; 2025-2026
      </div>
      <%= link_to "Wikino", "/", class: "text-sm text-muted-foreground" %>
    </div>
  </div>
</footer>
