<turbo-frame
  id="<%= turbo_frame_id %>"
  loading="lazy"
  src="<%= joined_topic_list_path(variant:) %>"
  data-turbo-permanent
>
  <div class="flex flex-col gap-4 p-4">
    <% 3.times do %>
      <div class="h-8 w-full animate-pulse rounded bg-gray-200"></div>
    <% end %>
  </div>
</turbo-frame>
