<turbo-frame
  id="joined-topics"
  loading="lazy"
  src="<%= joined_topic_list_path %>"
>
  <div class="flex flex-col gap-4 p-4">
    <% 3.times do %>
      <div class="h-8 w-full bg-gray-200 rounded animate-pulse"></div>
    <% end %>
  </div>
</turbo-frame>
