<div class="flex flex-col gap-4">
  <% if show_links? %>
    <div class="flex flex-col gap-2">
      <div class="text-lg font-bold antialiased">
        <%= t("nouns.links") %>
      </div>

      <%= render LinkCollectionComponent.new(link_collection:) %>
    </div>
  <% end %>

  <% if show_backlinks? %>
    <div class="flex flex-col gap-2">
      <div class="text-lg font-bold antialiased">
        <%= t("nouns.backlinks") %>
      </div>

      <div class="grid grid-cols-2 gap-2 md:grid-cols-4 xl:grid-cols-5">
        <%= render BacklinkCollectionComponent.new(backlink_collection:) %>
      </div>
    </div>
  <% end %>
</div>
