<% title = t("meta.title.home.show") %>
<% set_meta_tags(title:, reverse: false) %>

<%= render ::Layouts::MainComponent.new do %>
  <div class="flex flex-col gap-6 px-4 py-6">
    <h1 class="text-2xl font-bold antialiased">
      <%= t("nouns.home") %>
    </h1>

    <div class="flex flex-col gap-4">
      <h2 class="font-bold antialiased">
        <%= t("nouns.joined_spaces") %>
      </h2>

      <div class="flex flex-col gap-2">
        <% @active_spaces.each do |space| %>
          <%= link_to space.name, space_path(space.identifier), class: "link" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
