<turbo-stream action="update" target="page-editor-draft-saved-time">
  <template>
    <div class="text-xs">
      <%= t("messages.draft_saved_time_html", time: draft_saved_time) %>
    </div>
  </template>
</turbo-stream>

<turbo-stream action="update" target="page-editor-footer">
  <template>
    <%= render Footers::PageComponent.new(
      page:,
      link_list:,
      backlink_list:
    ) %>
  </template>
</turbo-stream>
