<div class="flex flex-wrap items-center justify-between gap-2 py-2">
  <%= render BaseUI::LinkComponent.new(
    options: {
      href: page_path(page.space.identifier, page.number),
      class: "line-clamp-1 text-sm font-bold"
    }
  ).with_content(page.title || "") %>

  <div class="flex w-full flex-none items-center justify-end gap-2 md:w-auto">
    <%= render Pages::HeaderActionsComponent.new(signed_in:, page:) %>
  </div>
</div>
