<div class="w-full flex-none items-center justify-end gap-2 md:w-auto -mb-2 flex md:hidden">
  <%= render Pages::HeaderActionsComponent.new(signed_in:, page:) %>
</div>

<div
  class="bg-brand-100 z-sticky-bar sticky top-0 group min-h-[40px]"
  data-controller="stuck"
>
  <%# スクロールする前に表示されるヘッダー %>
  <div class="block group-data-stuck:hidden">
    <%= render Pages::DefaultHeaderComponent.new(signed_in:, page:) %>
  </div>

  <%# スクロールした後に表示されるヘッダー %>
  <div class="hidden group-data-stuck:block border-b-1 border-gray-300">
    <%= render Pages::StickyHeaderComponent.new(signed_in:, page:) %>
  </div>
</div>
