<div class="-mb-2 flex w-full flex-none items-center justify-end gap-2 md:hidden md:w-auto">
  <%= render Pages::HeaderActionsComponent.new(signed_in:, page:) %>
</div>

<div
  class="bg-brand-100 z-sticky-bar group sticky top-0 min-h-[40px]"
  data-controller="stuck"
>
  <%# スクロールする前に表示されるヘッダー %>
  <div class="block group-data-stuck:hidden">
    <%= render Pages::DefaultHeaderComponent.new(signed_in:, page:) %>
  </div>

  <%# スクロールした後に表示されるヘッダー %>
  <div class="-translate-y-full opacity-0 group-data-stuck:translate-y-0 group-data-stuck:opacity-100 group-data-stuck:transition-all group-data-stuck:duration-300 group-data-stuck:ease-out border-b-1 border-gray-300">
    <%= render Pages::StickyHeaderComponent.new(signed_in:, page:) %>
  </div>
</div>
