<div class="-mb-2 flex w-full flex-none items-center justify-end gap-2 md:hidden md:w-auto">
  <%= render Pages::HeaderActionsComponent.new(signed_in:, page:) %>
</div>

<div
  class="bg-brand-100 z-sticky-bar sticky top-0 group"
  data-controller="stuck"
>
  <div class="flex flex-col gap-4 md:group-data-stuck:pt-4">
    <div class="flex items-center justify-between">
      <h1>
        <%= render BaseUI::LinkComponent.new(
          options: {
            href: page_path(page.space.identifier, page.number),
            class: "text-sm md:text-2xl md:group-data-stuck:text-sm font-bold antialiased md:group-data-stuck:line-clamp-1"
          }
        ).with_content(page.title || "") %>
      </h1>

      <div class="flex gap-2 items-center">
        <%= render Pages::HeaderActionsComponent.new(signed_in:, page:) %>
      </div>
    </div>

    <hr class="border-gray-300">
  </div>
</div>
