<div class="breadcrumbs py-1 text-sm">
  <ul>
    <li>
      <%= link_to space.name, space_path(space.identifier) %>
    </li>

    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </ul>
</div>
