<div class="breadcrumbs rounded-full bg-brand-200 px-6 py-1 text-sm">
  <ul>
    <li>
      <%= link_to space_entity.name, space_path(space_entity.identifier) %>
    </li>

    <% items.each do |item| %>
      <%= item %>
    <% end %>
  </ul>
</div>
