<ul class="c-editor-hints list-group">
  <% @note_entities.each do |note_entity| %>
    <li
      class="list-group-item"
      data-target="editor-hints.hint"
      data-note-id="<%= note_entity.database_id %>"
      data-note-name="<%= note_entity.name %>"
    >
      <%= note_entity.name %>
    </li>
  <% end %>

  <li
    class="list-group-item"
    data-target="editor-hints.hint"
    data-create-new-note="true"
  >
    <i class="fas fa-plus mr-1"></i>
    <%= t "messages.edit_note.create_new_note_html" %>
  </li>
</ul>
