<nav class="navbar">
  <div class="flex-1">
    <%= link_to root_path, class: "bg-brand-100 rounded-lg" do %>
      <%= render Basic::IconComponent.new(name: "logo", size: "36px", class_name: "fill-black") %>
    <% end %>
  </div>

  <div class="flex-none">
    <ul class="flex gap-2">
      <li>
        <%= link_to t("nouns.sign_up"), sign_up_path, aria: {disabled: true}, class: "btn btn-disabled btn-ghost" %>
      </li>

      <li>
        <%= link_to t("nouns.sign_in"), sign_in_path, class: "btn btn-ghost" %>
      </li>
    </ul>
  </div>
</nav>
