.c-editor-container {
  height: calc(100vh - #{$n-navbar-height});

  &__header {
    flex: 0 1 auto;
  }

  &__content {
    flex: 1 1 auto;
  }

  &__hints {
    position: absolute;
  }

  .cm-wrap {
    height: 100%;
  }
}
