package email_confirmation

// JaText は日本語テキストテンプレート
templ JaText(data Data) {
	{ data.Email } さん、こんにちは。

確認用コードは下記になります。

{ data.Code }

確認用コードの有効期間は15分です。

もしこのメールに心当たりが無い場合は無視してください。

Wikino
{ data.AppURL }
}
