<div class="<%= class_names("card", class_name) %>">
  <div class="card-body items-center gap-4 py-20 text-center">
    <div class="rounded-full bg-brand-100 p-4 opacity-40">
      <%= render Basic::IconComponent.new(name: icon_name, size: "50px", class_name: "fill-gray-800") %>
    </div>

    <h2 class="card-title">
      <%= message %>
    </h2>

    <%= content %>
  </div>
</div>
