@import "tailwindcss";
@import "basecoat-css";
@import "tailwindcss-safe-area";

:root {
  /* 独自の変数 */
  --app-brand-50: oklch(0.9799 0.0074 197.04);
  --app-brand-100: oklch(0.9383 0.0283 193.96);
  --app-brand-200: oklch(0.876 0.0543 194.76);
  --app-brand-300: oklch(0.7918 0.0779 196.73);
  --app-brand-400: oklch(0.6932 0.088 199.14);
  --app-brand-500: oklch(0.6002 0.083 201.49);
  --app-brand-600: oklch(0.5071 0.0701 202.99);
  --app-brand-700: oklch(0.4373 0.0571 203.57);
  --app-brand-800: oklch(0.3787 0.0457 206.19);
  --app-brand-900: oklch(0.3419 0.0362 203.92);
  --app-brand-950: oklch(0.2853 0.0357 210.24); /* オリジナル */
  --app-primary: var(--app-brand-950);
  --app-primary-foreground: oklch(0.9729 0.0076 61.45);
  --app-secondary: oklch(0.9231 0.0066 185.26);
  --app-secondary-foreground: var(--app-primary);
  --app-muted: oklch(0.95 0.0076 61.45);
  --app-muted-foreground: oklch(0.5659 0.0128 45.61);
  --app-link-foreground: var(--app-primary);
  --app-link-primary-foreground: oklch(0.5346 0.0836 210.24);
  --app-link-muted-foreground: var(--app-muted-foreground);
  --app-success: var(--color-green-600);
  --app-success-foreground: var(--color-white);
  --app-error: var(--color-red-600);
  --app-error-foreground: var(--color-white);
  --app-warning: var(--color-yellow-600);
  --app-warning-foreground: var(--color-black);
  --app-info: var(--color-blue-600);
  --app-info-foreground: var(--color-white);
  --app-bottom-nav-max-height: 54px;

  /* Basecoatの変数上書き */
  --background: var(--app-primary-foreground);
  --foreground: var(--app-primary);
  --primary: var(--app-primary);
  --primary-foreground: var(--app-primary-foreground);
  --secondary: var(--app-secondary);
  --secondary-foreground: var(--app-secondary-foreground);
  --muted: var(--app-muted);
  --muted-foreground: var(--app-muted-foreground);
  --accent: oklch(0.9402 0.017 61.95);
  --border: var(--color-stone-300);
  --input: var(--color-stone-300);

  text-autospace: normal;
}

@theme {
  --color-brand-50: var(--app-brand-50);
  --color-brand-100: var(--app-brand-100);
  --color-brand-200: var(--app-brand-200);
  --color-brand-300: var(--app-brand-300);
  --color-brand-400: var(--app-brand-400);
  --color-brand-500: var(--app-brand-500);
  --color-brand-600: var(--app-brand-600);
  --color-brand-700: var(--app-brand-700);
  --color-brand-800: var(--app-brand-800);
  --color-brand-900: var(--app-brand-900);
  --color-brand-950: var(--app-brand-950);

  --color-link-foreground: var(--app-link-foreground);
  --color-link-primary-foreground: var(--app-link-primary-foreground);
  --color-link-muted-foreground: var(--app-link-muted-foreground);

  --color-error-foreground: var(--app-error-foreground);
  --color-error: var(--app-error);
  --color-info-foreground: var(--app-info-foreground);
  --color-info: var(--app-info);
  --color-success-foreground: var(--app-success-foreground);
  --color-success: var(--app-success);
  --color-warning-foreground: var(--app-warning-foreground);
  --color-warning: var(--app-warning);

  --z-index-*: initial;
  --z-index-tooltip: 300;
  --z-index-overlay: 240;
  --z-index-sticky-bar: 200;

  --screen-max-width: 1400px;
  --content-screen-max-width-small: 650px;
  --content-screen-max-width-medium: 800px;
  --content-screen-max-width-large: 1200px;
}

@utility link-bare-* {
  @apply transition-colors duration-100;
  @apply text-[--value(--color-link-*)] hover:text-[--value(--color-link-*)]/85;
}

@utility link-* {
  /* `@apply link-bare-*;` と書きたいが、そうすると .link-bare-muted-foreground などが効かなくなる */
  @apply transition-colors duration-100;
  @apply text-[--value(--color-link-*)] hover:text-[--value(--color-link-*)]/85;
  @apply underline underline-offset-4;
}

@layer base {
  code,
  pre {
    text-autospace: no-autospace;
  }
}

/* タッチデバイスかどうかを判別するためのカスタムバリアント */
/*
  hover: none ... hoverがサポートされていないデバイスかどうか
  pointer: coarse ... タッチスクリーンのようなポインターが粗いデバイスかどうか
*/
@custom-variant touch (@media (hover: none) and (pointer: coarse));
/*
  hover: hover ... hoverがサポートされているデバイスかどうか
  pointer: fine ... マウスのような精密なポインターデバイスかどうか
*/
@custom-variant non-touch (@media (hover: hover) and (pointer: fine));

/*
  ============================================================================
  CodeMirror
  ============================================================================
*/
.cm-editor {
  @apply border-input max-h-[calc(100vh-400px)] rounded-md border bg-transparent px-2 text-base shadow-xs transition-[color,box-shadow] outline-none md:text-sm;
}

.cm-editor.cm-focused {
  @apply border-ring ring-ring/50 ring-[3px] outline-2 outline-gray-300 outline-solid;
}

.cm-editor .cm-gutters {
  @apply bg-card;
}

.cm-editor .cm-lineNumbers {
  @apply bg-card;
}

.cm-editor .cm-content {
  @apply py-2;
}
