@import "tailwindcss";
@import "basecoat-css";

@theme {
  --color-brand-50: #f9f7f7;
  --color-brand-100: #f2efee;
  --color-brand-200: #e6dfdd;
  --color-brand-300: #d7cdca;
  --color-brand-400: #bfafaa;
  --color-brand-500: #a7928c;
  --color-brand-600: #8f7973;
  --color-brand-700: #77645e;
  --color-brand-800: #645450;
  --color-brand-900: #564a46;
  --color-brand-950: #2c2523;

  --z-index-*: initial;
  --z-index-tooltip: 200;
  --z-index-navbar: 100;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility wikino-markdown {
  /*
    ============================================================================
    .wikino-markdown
    ============================================================================
  */
  @apply break-words;

  & > :first-child {
    @apply mt-0;
  }

  & a {
    @apply text-blue-600;
    /* 下線の調整 */
    @apply underline decoration-blue-800/60 decoration-1 underline-offset-[0.25rem] hover:decoration-2;
  }

  & blockquote {
    @apply border-l-4 border-gray-300 pr-4 pl-4 text-base/8 text-gray-600;
  }

  & code {
    @apply inline rounded-sm bg-gray-950/6 px-2 py-1 font-mono text-sm/normal;
  }

  & h1 {
    @apply mt-8 mb-4 text-2xl/8 font-bold antialiased;
  }

  & h2 {
    @apply mt-8 mb-4 text-xl/8 font-bold antialiased;
  }

  & h3 {
    @apply mt-8 mb-4 text-lg/8 font-bold antialiased;
  }

  & h4 {
    @apply mt-8 mb-4 text-base/8 font-bold antialiased;
  }

  & h5 {
    @apply mt-8 mb-4 text-base/8 font-bold antialiased;
  }

  & h6 {
    @apply mt-8 mb-4 text-base/8 font-bold antialiased;
  }

  & hr {
    @apply my-6 border-gray-300;
  }

  & img {
    @apply mx-auto;
  }

  & img.wikino-attachment-image {
    @apply rounded-md opacity-0 transition-opacity duration-100 ease-in-out;
  }

  & img.wikino-attachment-image-loaded {
    @apply rounded-md opacity-100 transition-opacity duration-100 ease-in-out;
  }

  & li {
    @apply mt-1;
  }

  & li p {
    @apply mb-0;
  }

  & ol {
    @apply mb-4 list-decimal pl-6 text-base/normal;
  }

  & p {
    @apply mb-4 leading-8;
  }

  & pre {
    @apply border-brand-200 bg-card mb-4 overflow-auto rounded-lg border p-4;
  }

  & pre code {
    @apply block overflow-visible rounded-none bg-transparent p-0;
  }

  & table {
    @apply mb-4 border border-gray-500;
  }

  & table td {
    @apply border border-gray-500 px-2 py-1;
  }

  & table th {
    @apply border border-gray-500 px-2 py-1;
  }

  & table tr {
    @apply even:bg-gray-200;
  }

  & ul {
    @apply mb-4 list-disc pl-6 text-base/normal;
  }
}

/*
  ============================================================================
  CodeMirror
  ============================================================================
*/
.cm-editor {
  @apply border-input rounded-md border bg-transparent px-2 text-base shadow-xs transition-[color,box-shadow] outline-none md:text-sm;
}

.cm-editor.cm-focused {
  @apply border-ring ring-ring/50 ring-[3px] outline-2 outline-gray-300 outline-solid;
}

.cm-editor .cm-gutters {
  @apply bg-card;
}

.cm-editor .cm-lineNumbers {
  @apply bg-card;
}

.cm-editor .cm-content {
  @apply py-2;
}
