<details class="dropdown">
  <summary class="btn btn-ghost no-animation btn-sm flex items-center gap-1 px-0 text-gray-300">
    <span>
      <%= Current.space!.identifier %>
    </span>

    <%= render Wikino::UI::Icon.new(name: "caret-down", size: "12px", class_name: "fill-gray-300") %>
  </summary>

  <div class="dropdown-content">
    <turbo-frame
      id="switchable-accounts"
      loading="lazy"
      src="<%= switchable_account_list_path %>"
    ></turbo-frame>
  </div>
</details>
