<div class="flex min-h-[100svh] flex-col">
  <%= render Navbars::TopNavbarComponent.new %>

  <div class="<%= class_names("flex-1", main_class_name) %>">
    <%= content %>
  </div>

  <div class="fixed bottom-0 left-1/2 z-50 flex translate-x-[-50%] flex-col gap-4 p-4">
    <%= render FlashToastComponent.new(flash:) %>
  </div>
</div>
