<div class="flex min-h-[100svh] flex-col">
  <%= render Navbars::TopNavbarComponent.new %>

  <div class="flex-1 max-w-screen-lg w-full mx-auto">
    <%= content %>
  </div>

  <div class="fixed bottom-0 left-1/2 z-50 flex translate-x-[-50%] flex-col gap-4 p-4">
    <%= render FlashToastComponent.new(flash:) %>
  </div>
</div>
