<div class="flex min-h-[100svh] flex-col">
  <%= render Navbars::TopComponent.new(current_page_name:) %>

  <div class="mx-auto w-full max-w-screen-lg flex-1">
    <%= content %>
  </div>

  <div class="z-50 fixed bottom-0 left-1/2 flex translate-x-[-50%] flex-col gap-4 p-4">
    <%= render Toasts::FlashComponent.new(flash:) %>
  </div>
</div>
