<div class="flex">
  <%= render Sidebars::MainSidebarComponent.new %>

  <div class="flex flex-1 flex-col min-h-[100svh]">
    <turbo-frame data-turbo-action="advance" id="main-content">
      <%= content %>
    </turbo-frame>

    <div>
      <%= render FlashToastComponent.new(flash:) %>
      <%= render Navbars::BottomNavbarComponent.new %>
    </div>
  </div>
</div>
