<div class="<%= class_name %>">

  <div class="flex flex-col gap-4 pb-20">
    <div class="<%= class_names("mx-auto w-full", content_screen_class_name) %>">
      <%= main_content %>
    </div>
  </div>

</div>
