<div class="flex min-h-svh flex-col">
  <div class="mx-auto w-full max-w-(--breakpoint-sm) flex-1">
    <%= content %>
  </div>

  <div class="sticky bottom-0 z-50 flex p-4">
    <%= render Toasts::FlashComponent.new(flash:) %>
  </div>
</div>
