<div class="flex min-h-[100svh] flex-col">
  <div class="flex-1 max-w-screen-sm w-full mx-auto">
    <%= content %>
  </div>

  <div class="sticky bottom-0 z-50 flex p-4">
    <%= render Toasts::FlashToastComponent.new(flash:) %>
  </div>
</div>
