<p>Hi <%= @resource.email %>,</p>

<p>Please confirm your account by clicking the link below.</p>

<p><%= link_to "Confirm email", confirmation_url(confirmation_token: @token) %></p>

<p>
  Best,
  <br>
  Nonoto
</p>
