<details class="dropdown">
  <summary class="btn btn-ghost btn-sm flex gap-1 items-center px-0 text-slate-300">
    <span>
      <%= Current.space!.identifier %>
    </span>

    <%= render Wikino::UI::Icon.new(name: "caret-down", size: "12px", class_name: "fill-slate-300") %>
  </summary>

  <ul class="bg-base-300 dropdown-content menu p-2 rounded-box shadow w-52">
    <li><a>Item 1</a></li>
    <li><a>Item 2</a></li>
  </ul>
</details>
