<turbo-frame
  id="draft-pages"
  loading="lazy"
  src="<%= draft_page_sidebar_path %>"
  data-turbo-permanent
>
  <div class="flex flex-col gap-4 p-4">
    <% 3.times do %>
      <div class="h-8 w-full animate-pulse rounded bg-gray-200"></div>
    <% end %>
  </div>
</turbo-frame>
