<turbo-frame id="export-logs">
  <div class="flex flex-col gap-4">
    <% export_log_entities.each do |export_log_entity| %>
      <div class="flex items-center gap-4">
        <div class="text-sm text-gray-500">
          <%= render AbsoluteTimeComponent.new(
            viewable: current_user_entity,
            time: export_log_entity.logged_at
          ) %>
        </div>

        <div>
          <%= export_log_entity.message %>
        </div>
      </div>
    <% end %>
  </div>
</turbo-frame>
