<header class="md:z-navbar static md:sticky md:top-0">
  <%# PCサイズ %>
  <div
    class="<%= class_names("
      bg-brand-100 data-stuck:drop-shadow-sm py-3 transition-all duration-200
      ease-in-out hidden md:block
    ") %>"
    data-controller="stuck"
  >
    <div class="bg-brand-100 mx-auto flex min-h-auto w-full justify-between px-4 py-0 max-w-(--content-screen-max-width-medium)">
      <div class="flex gap-4">
        <%= render Links::BrandIconComponent.new(current_page_name:) %>

        <%= breadcrumb %>
      </div>
    </div>
  </div>

  <%# モバイルサイズ %>
  <% if breadcrumb? %>
    <div class="flex items-center gap-4 px-4 pt-4 md:hidden">
      <%= breadcrumb %>
    </div>
  <% end %>
</header>
