<header>
  <%# PCサイズ %>
  <div class="bg-brand-100 mx-auto flex min-h-auto w-full justify-between p-4 max-w-(--content-screen-max-width-medium)">
    <div class="flex gap-4">
      <%= render Links::BrandIconComponent.new(current_page_name:) %>

      <%= breadcrumb %>
    </div>
  </div>

  <%# モバイルサイズ %>
  <% if breadcrumb? %>
    <div class="flex items-center gap-4 px-4 pt-4 md:hidden">
      <%= breadcrumb %>
    </div>
  <% end %>
</header>
